RESEND_API_KEY=
MAIL_FROM=Herkules Anfrage <anfrage@forms.xn--nll-hoa.com>
ANFRAGE_TO=info@herkules-umzuege24.de,atageldiyewhalyl@gmail.com,halyl@xn--nll-hoa.com
ADMIN_EMAIL=info@herkules-umzuege24.de,atageldiyewhalyl@gmail.com,halyl@xn--nll-hoa.com
SUPABASE_URL=https://srnynewvauzymnljqskj.supabase.co
